body {
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

.bb-app-wrapper {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.bb-sidebar {
	flex: 0 0 260px;
	border-right: 2px solid green; 
}

.bb-sidebar-content {
	position: fixed;
	width: 260px;
}

.bb-sidebar-list {
	list-style-type: none;
	padding: 0;
	margin: 16px 0;
}

.bb-sidebar-list__link {
	display: inline-block;
	text-decoration: none;
	line-height: 32px;
	text-indent: 16px;
	font-size: $font-size-smal;
	color: #666;
	width: 100%;

	border-left: 3px solid transparent;
	box-sizing: border-box;

	&:hover {
		cursor: pointer;
		background-color: whitesmoke; 
	}

	&--active {
		border-left: 3px solid green;
	}
}

.bb-main {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}
	
.bb-navbar {
	flex: 0 0 40px;
}

.bb-navbar-content {
	display: flex;
	padding: 0 16px;
}

.bb-navbar__logo {
	line-height: 40px;

	flex: 1 1 auto;

	h1 {
		cursor: pointer;
		font-size: $font-size-xlarge;
	}
}

.bb-navbar__logo-react {
	color: red;
}

.bb-navbar__actions {
	display: flex;
	padding-top: 20px;

	div {
		margin-left: 8px;

		button {
			vertical-align: middle;
  			display: block;
		}
	}
}

.bb-navbar__actions-button {
		
}

.bb-content {
	background-color: white;
	flex: 1 1 auto;
}

.bb-footer {
	flex: 0 0 140px;
}

.bb-h1 {
	font-size: $font-size-xlarge;
    font-weight: normal;
    color: olivedrab;
    margin-left: 16px;
}

.bb-button {
	border: none;
	border-radius: 2px;
	padding: 8px 16px;
	text-decoration: none;
	display: inline-block;
	font-size: $font-size-smal;
	line-height: 18px;

	color: white;
	background-color: #4CAF50;

	&--green {
		color: white;
		@include button-bg(#4CAF50);
	}

	&--blue {
		@include button-bg(blue);
	}

	&--red {
		@include button-bg(red);
	}

	&:focus {
		outline: none;
	}
}

.bb-form-container {
	padding: 16px 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	max-width: 400px;
	margin: 40px auto;
}

.bb-form {
	display: flex;
	flex-direction: column;

	.bb-button--submit {
		margin-top: 8px;
	}
}

.bb-input {
	
	&--text {
		font-size: $font-size-smal;
		padding: 8px;
		margin-bottom: 16px;
	}

	&--password	{
		font-size: $font-size-smal;
		padding: 8px;
		margin-bottom: 16px;
	}
}


