


.bb-todo-list {
	border-top: 1px solid #ccc;

	&--done {
		color: red;
	}

} 

.bb-todo-delete {
	text-align: right;
}

.bb-todo-item {
	padding: 20px;
	cursor: pointer;

	&:hover {
		background-color: #eee;
	}
	
	&--done {
		text-decoration: line-through;
		color: red;
	}
}